<h1>
  Bem vindo ao Sistema NCD!
</h1>
 <div class = "laboratorio">
   <div class="meio1">
        <div>
          <button mat-mini-fab (click)="openDialog() color="primary">PC</button>
          <button mat-mini-fab color="primary">PC</button>
          <button mat-mini-fab color="primary">PC</button>
          <button mat-mini-fab color="primary">PC</button>
        </div>
        <div>
          <button mat-mini-fab color="primary">PC</button>
        </div>
   </div>
   <div class="meio2">
    <button mat-mini-fab color="primary">PC</button>
    <button mat-mini-fab color="primary">PC</button>
    <button mat-mini-fab color="primary">PC</button>
    <button mat-mini-fab color="primary">PC</button>
    <button mat-mini-fab color="primary">PC</button>
    <button mat-mini-fab color="primary">PC</button>
    <button mat-mini-fab color="primary">PC</button>
    <button mat-mini-fab color="primary">PC</button>
    <button mat-mini-fab color="primary">PC</button>
    <button mat-mini-fab color="primary">PC</button>
    <button mat-mini-fab color="primary">PC</button>
    <button mat-mini-fab color="primary">PC</button>
    <button mat-mini-fab color="primary">PC</button>
    <button mat-mini-fab color="primary">PC</button>
    <button mat-mini-fab color="primary">PC</button>
    <button mat-mini-fab color="primary">PC</button>
    <button mat-mini-fab color="primary">PC</button>
    <button mat-mini-fab color="primary">PC</button>
    <button mat-mini-fab color="primary">PC</button>
    <button mat-mini-fab color="primary">PC</button>
   </div>
 </div>